DB_HOST=localhost
DB_PORT=5432
DB_NAME=churin
DB_USER=postgres
DB_PASSWORD=change-me

CLOUDINARY_CLOUD_NAME=change-me
CLOUDINARY_API_KEY=change-me
CLOUDINARY_API_SECRET=change-me

TELEGRAM_BOT_TOKEN=change-me
TELEGRAM_CHAT_IDS=change-me
