/* Estilo general para el contenedor de la lista */
.menu-list {
  overflow: hidden;
  box-sizing: border-box;
  width: 90%; /* Ocupa el 90% del ancho de la página */
  max-width: 1200px; /* Ancho máximo de la lista */
  margin: 0 auto; /* Centra la lista horizontalmente */
  padding: 20px;
}

/* Estilo para el encabezado */
.menu-list h2 {
  text-align: center;
  width: 100%;
}

/* Estilo para la lista */
.menu-list ul {
  display: grid;
  grid-template-columns: 1fr; /* Una columna por defecto */
  gap: 10px; /* Espacio entre los ítems */
  padding: 0;
  list-style: none; /* Elimina los puntos de la lista */
}

.menu-list li {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos horizontalmente */
  padding: 10px;
  box-sizing: border-box; /* Asegura que el padding y el margen se incluyan en el ancho total */
  height: 550px; /* Altura fija de cada ítem */
  overflow: hidden; /* Evita el overflow */
  text-align: center;
  justify-content: space-around; /* Distribuye el espacio entre los elementos hijos */
}

.menu-list h3 {
  margin-bottom: 20px;
}

/* Estilo para la imagen del ítem del menú */
.menu-list img {
  width: 100%;
  margin: 0;
  height: 300px; /* Altura fija de la imagen */
  object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
  margin-bottom: 10px; /* Espacio entre la imagen y el texto */
}

/* Estilo para la descripción del plato */
.menu-list p {

  text-align: justify;
  font-size: 14px;
  font-style: italic;
  display: flex;
  align-items: center; /* Centra el texto verticalmente */
  justify-content: center; /* Centra el texto horizontalmente */
  height: 100px; /* Altura fija para la descripción */
  margin: 0;
  overflow: hidden; /* Evita el overflow */
  text-overflow: ellipsis; /* Añade puntos suspensivos si el texto es demasiado largo */
}

/* Estilo para el precio del plato */
.menu-item-price {
  font-size: 1.2em;
  color: #333;
  height: 100px;
  margin: 0;
}

/* Diseño para pantallas grandes (navegadores de escritorio) */
@media (min-width: 768px) {
  .menu-list ul {
    grid-template-columns: repeat(3, 1fr); /* Tres columnas en pantallas grandes */
  }
}

.menu-list button {
  margin: 0;
}
